<div class="hero-wrap js-fullheight">
      <div class="overlay"></div>
      <div class="container-fluid px-0">
      	<div class="row d-md-flex no-gutters slider-text align-items-center js-fullheight justify-content-end">
	      	<img class="one-third js-fullheight align-self-end order-md-last img-fluid" src="/assets/backheade.png" alt="">
	        <div class="one-forth d-flex align-items-center ftco-animate js-fullheight">

	        	<div class="text mt-5">
	        		<span class="subheading">JobCare</span>
	            <h1 class="mb-3"><span>Pasang</span> <span>Lowongan</span> <span>Anda</span></h1>
	            <p>Dengan pasang iklan lowongan di Jobcare, Anda memiliki kesempatan lebih besar untuk mendapatkan kandidat yang tepat..</p>
              <p><a href="/auth/users/sign_in" class="btn btn-primary px-4 py-3">Masuk Sekarang</a></p>
	          </div>
	        </div>
	    	</div>
      </div>
    </div>
    
    <section class="ftco-section ftco-no-pt ftc-no-pb">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center heading-section ftco-animate">
            <br><br><h2>Percayakan Pada Kami</h2>
            <p>Kami akan membantu Anda dalam proses perekrutan dari awal hingga akhir.</p>
          </div>
          <div class="col-lg-6 py-5">
            <img src="/assets/podcast.png" class="img-fluid" alt="">
            <!-- <div class="heading-section ftco-animate mt-5">
              <h2 class="mb-4">Bergabunglah dengan Kami</h2>
              <p>Bergabunglah dengan situs lowongan kerja terbaik di Indonesia</p>
            </div> -->
          </div>
          <div class="col-lg-6 py-5">
            <div class="row">
              <div class="col-md-6 ftco-animate">
                <div class="media block-6 services border text-center">
                  <div class="icon d-flex align-items-center justify-content-center">
                    <span class="flaticon-settings"></span>
                  </div>
                  <div class="mt-3 media-body media-body-2">
                    <h3 class="heading">Kandidat</h3>
                    <p>Anda dapat menemukan jutaan kandidat dari berbagai bidang yang sesuai dengan kriterian Anda.</p>
                  </div>
                </div>
              </div>
              <div class="col-md-6 ftco-animate">
                <div class="media block-6 services border text-center">
                  <div class="icon d-flex align-items-center justify-content-center">
                    <span class="flaticon-database"></span>
                  </div>
                  <div class="mt-3 media-body media-body-2">
                    <h3 class="heading">Seleksi</h3>
                    <p>Jobcare.id akan selalu membantu Anda dalam proses seleksi dan penerimaan dari rekrutmen lowongan Anda.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="ftco-section bg-light">
      <div class="container">
        <div class="row justify-content-center mb-5 pb-5">
          <div class="col-md-7 text-center heading-section ftco-animate">
            <span class="subheading">JobCare</span>
            <h2 class="mb-4">JobCare melayani Anda lebih dari mengiklankan lowongan</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 nav-link-wrap mb-5 pb-md-5 pb-sm-1 ftco-animate">
            <div class="nav ftco-animate nav-pills justify-content-center text-center" id="v-pills-tab" role="tablist" aria-orientation="vertical">
              <a class="nav-link active" id="v-pills-nextgen-tab" data-toggle="pill" href="#v-pills-nextgen" role="tab" aria-controls="v-pills-nextgen" aria-selected="true">Lowongan</a>

              <a class="nav-link" id="v-pills-performance-tab" data-toggle="pill" href="#v-pills-performance" role="tab" aria-controls="v-pills-performance" aria-selected="false">Kandidat</a>

              <a class="nav-link" id="v-pills-effect-tab" data-toggle="pill" href="#v-pills-effect" role="tab" aria-controls="v-pills-effect" aria-selected="false">Seleksi</a>
            </div>
          </div>
          <div class="col-md-12 align-items-center ftco-animate">
            
            <div class="tab-content ftco-animate" id="v-pills-tabContent">

              <div class="tab-pane fade show active" id="v-pills-nextgen" role="tabpanel" aria-labelledby="v-pills-nextgen-tab">
                <div class="d-md-flex">
                  <div class="one-forth align-self-center">
                    <img src="/assets/undraw_laravel_and_vue_59tp.svg" class="img-fluid" alt="">
                  </div>
                  <div class="one-half ml-md-5 align-self-center">
                    <h2 class="mb-4">Iklan Lowongan anda akan dilihat oleh para kandidat</h2>
                    <p>Jobcare.id adalah pilihan utama para kandidat untuk mencari pekerjaan. Dengan pasang iklan lowongan di Jobcare, Anda memiliki kesempatan lebih besar untuk mendapatkan kandidat yang tepat.</p>
                  </div>
                </div>
              </div>

              <div class="tab-pane fade" id="v-pills-performance" role="tabpanel" aria-labelledby="v-pills-performance-tab">
                <div class="d-md-flex">
                  <div class="one-forth order-last align-self-center">
                    <img src="/assets/undraw_visual_data_b1wx.svg" class="img-fluid" alt="">
                  </div>
                  <div class="one-half order-first mr-md-5 align-self-center">
                    <h2 class="mb-4">Cari kandidat yang tepat untuk lowongan Anda</h2>
                    <p>Anda dapat memasang iklan lowongan di JobCare.id kapan saja, tidak hanya itu. Anda juga dapat menggunakan fitur lihat kandidat untuk mencari kandidat yang sesuai.</p>
                    
                  </div>
                </div>
              </div>

              <div class="tab-pane fade" id="v-pills-effect" role="tabpanel" aria-labelledby="v-pills-effect-tab">
                <div class="d-md-flex">
                  <div class="one-forth align-self-center">
                    <img src="/assets/undraw_business_plan_5i9d.svg" class="img-fluid" alt="">
                  </div>
                  <div class="one-half ml-md-5 align-self-center">
                    <h2 class="mb-4">Proses seleksi para pelamar yang mudah</h2>
                    <p>Jobcare.id memiliki fitur yang canggih untuk mempermudah proses seleksi dan rekrutmen Anda ketika menerima lamaran yang banyak. Semuanya dapat diakses secara gratis.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    
    <!-- <section class="ftco-section bg-light">
      <div class="container-company">
        <div class="row justify-content-center mb-5 pb-3">
          <div class="col-md-7 text-center heading-section ftco-animate">
            <h2>Telah Digunakan Oleh Berbagai Perusahaan Di Indonesia</h2>
            <p>JobCare telah dipercaya dan digunakan oleh berbagai macam perusahaan untuk mencari kandidat yang mereka perlukan.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-sm ftco-animate">
            <a href="#" class="partner"><img src="/assets/partner-1.png" class="img-fluid" alt="Colorlib Template"></a>
          </div>
          <div class="col-sm ftco-animate">
            <a href="#" class="partner"><img src="/assets/partner-2.png" class="img-fluid" alt="Colorlib Template"></a>
          </div>
          <div class="col-sm ftco-animate">
            <a href="#" class="partner"><img src="/assets/partner-3.png" class="img-fluid" alt="Colorlib Template"></a>
          </div>
          <div class="col-sm ftco-animate">
            <a href="#" class="partner"><img src="/assets/partner-4.png" class="img-fluid" alt="Colorlib Template"></a>
          </div>
          <div class="col-sm ftco-animate">
            <a href="#" class="partner"><img src="/assets/partner-5.png" class="img-fluid" alt="Colorlib Template"></a>
          </div>
        </div>

      </div>
    </section> -->

  <!-- loader -->
<!--   <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div> -->



  