<p>Hai <%= @email %>,</p>

<% if @resource.try(:unconfirmed_email?) %>
  <div>Kami memberitahukan bahwa email Anda akan diubah ke <%= @resource.unconfirmed_email %>.</div>
<% else %>
  <div>Kami memberitahukan bahwa email Anda sudah diubah ke <%= @resource.email %>.</div>
<% end %>

<p>Terima Kasih.</p>

<div>Salam,</div>
<div><b><%= link_to "Job Care", "https://jobcare.id", target: "_blank" %></b></div>
