<p>Hai <%= @resource.email %>,</p>

<div>Kami memberitahukan bahwa password Anda sudah berhasil diubah.</div>

<p>Terima Kasih.</p>

<div>Salam,</div>
<div><b><%= link_to "Job Care", "https://jobcare.id", target: "_blank" %></b></div>
