<p>Hai <%= @resource.email %>,</p>

<p>Anda telah melakukan permintaan untuk mengubah password. Anda dapat mengubahnya melalui tatutan di bawah ini.</p>

<p><%= link_to 'Ubah Password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Jika Anda tidak merasa melakukan permintaan tersebut, silahkan abaikan email ini.</p>
<p>Password Anda tidak akan berubah kecuali Anda mengakses tautan di atas.</p>

<p>Terima Kasih.</p>
<br>
<br>
<p>Salam,</p>
<p>Job Care</p>
