<p>Hai <%= @resource.email %>,</p>

<div>Anda telah melakukan permintaan untuk mengubah password. Anda dapat mengubahnya melalui tatutan di bawah ini.</div>
<div><%= link_to 'Ubah Password', edit_password_url(@resource, reset_password_token: @token) %></div>
<br>
<div>Jika Anda tidak merasa melakukan permintaan tersebut, silahkan abaikan email ini.</div>
<div>Password Anda tidak akan berubah kecuali Anda mengakses tautan di atas.</div>

<p>Terima Kasih.</p>

<div>Salam,</div>
<div><b><%= link_to "Job Care", "https://jobcare.id", target: "_blank" %></b></div>
