<p>Hai <%= @resource.email %>,</p>

<div>Akun Anda sudah terkunci karena beberapa kali gagal melakukan Log In.</div>
<div>Klik tautan di bawah untuk membuka kunci akun Anda:</div>
<div><%= link_to 'Buka Kunci Akun', unlock_url(@resource, unlock_token: @token) %></div>

<p>Terima Kasih.</p>

<div>Salam,</div>
<div><b><%= link_to "Job Care", "https://jobcare.id", target: "_blank" %></b></div>
